*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    overflow-Y: scroll;
}

.main_div {
    display: flex;
    
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}
.main_container {
    display: inline;
    
}

.line-divider {
    width: 1160px;
    margin: 0 auto;
    height: 5px; /* Set the height of the line */
    background-color: #631a1a;
    padding-left: 10px;
}
.main_container_inner {
    display: flex;
    justify-content: space-between;

   max-width: 1238px;
    height: 71px;
    background-color: #f2f2f2;
    margin: 0 auto;
    
    border-bottom: 1px solid #c4c4c4;
}
#logo {
    width: 186px;
    height: 48px;
}
.main_container_inner_logo {
    display: flex;
    align-items: center;
}
.main_container_inner_paymentoptions {
     display: flex;
     align-items: center;
     gap: 2px;
     
    
}
#resurs {
    width: 84px;
    height: 17px;
    margin-right: 6px;
    
}
#swish{
    width: 92px;
    height: 28px;
    
}
#visa {
      width: 55px;
      height: 40px;

}
#master {
       width: 61px;
       height: 50px;
}
#amex {
    width: 35px;
    height: 35px;
}

#empty {
    font-size: 2rem;
} 

.prod {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--textGrayMiddle);
    padding-bottom: 4px;
    & img {
        width: 30%;
        height: 100%;
        object-fit: contain;
    }
    & .itemcolumn {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        & h2 {
            font-size: 1.6rem;
        }
        & p {
            font-size: 1rem;
            color: var(--textGrayLight);
        }
    }
    & .remove {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        & i {
            font-size: 1.5rem;
            padding-top: 10px;
            &:hover {
                color: #ec2c34;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 780px) {
    .main_container_inner {
        flex-direction: column;
        align-items: center;
        height: 88px;
    }
}
.container {
    display: flex;
    max-width: 1238px;
    height:53px ;
    margin:0 auto;
    background-color: #fff;
    align-items: center;
    margin-top: 20px;
    padding-left: 35px;
    & h5{
         padding-right: 15px;
         opacity: 70%;
    }
    

}
#privat {
          margin-right:3px;
          font-weight: bold;
}
#label_privat {
    font-weight: bold;
    opacity: 80%;
}

#företag {
    margin-left: 15px;
    font-weight: bold;
    
}
#label_foretag {
    font-weight: bold;
    margin-left: 3px;
    opacity: 80%;
}
.kundvagen {
    display: flex;
    max-width: 1238px;
    height: 72px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    align-items: center;
    padding-left:35px;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
}
.kundvagen_one {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1238px;
    min-height:242px;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.totalpris {
    display: flex;
    max-width: 1238px;
    height: 89px;
    background-color: #fff;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    opacity: 80%;
}
#nummer {
    color: #f00;
    margin-left: 5px;
}
.komplettera {
    display: flex;
    max-width: 1238px;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    padding-left: 40px;
    
   
    & h2{
        font-size: 16px;
        opacity: 80%;
    }

}
.line-divider {
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
    max-width: 1238px;
    margin: 0 auto;
    padding: 0 15px; /* Adjust the padding as needed */
    border-top: 1px solid #f3c9c9;
}



/*body {
    margin: 0;
    overflow: hidden; /* Hide horizontal scrollbar */
    /* Set positioning context for arrows */
/*}*/

#main-container {
    display: flex;
    max-width: 1238px; /* Set to 100% width to fill the viewport */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    flex-direction: row; /* Scroll from left to right */
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    padding-top: 20px;
    column-gap: 20px;
    padding-bottom: 30px;
   
    
    
}


#button{
    min-width: 250px;
    height: 38px;
    border: 1px solid rgb(79, 79, 199);
    color: rgb(79, 79, 199);
    margin-top: 20px;
    position: absolute;
    bottom: 2px;
    background-color: #fff;
    &:hover {
        background-color: #c8d0d3;
    }
}

.box {
    max-width: 1238px;
    height: 50px;
    background-color: #fff;
    margin: 0 auto;
}
.card-container .button:hover{
    background-color: lightblue;
}

/*.main-container-arrow {
    display: flex;
    position: absolute;
}*/

.card-container {
    display: flex;
    flex: 0 0 auto; /* Ensure the card size stays fixed */
    width: 260px;
    height: 367px;
    flex-direction: column;
     /* Adjust the spacing between cards */
    background-color: #fff; /* Add your styling */
    position: relative;
    scroll-snap-align: start;
    cursor: pointer;
    border: none;
    padding-left: 30px;
    
    
}

#sticker {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 10px;
}

.pic {
    width: 200px;
    height: 146px;
    align-self: center;
    
}

.main {
    display: flex;
    max-width: 1238px;
    margin: 0 auto;
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
}

.left {
    left: 15px;
   /* transform: translate(-50%, -50%); /* Center the arrow vertically */
    & img {
        width: 40px;
        height: 40px;
        transform: scale(-1);
    }
}

.right {
    right: 15px;
   /* transform: translate(-50%, -50%); /* Center the arrow vertically */
    & img {
        width: 40px;
        height: 40px;
    }
}
#paytype {
    opacity: 90%;
    
}


.fourdivone {
    display: flex;
    max-width: 1238px;
    height: 73px;
    align-items: center;
    background: #fff;
    font-weight: 600;
    padding-left: 25px;
    
    margin-top: 20px;
    padding-right: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    opacity: 60%;
    
   
   
   
    & img {
        width: 32px;
        height: 32px;
    }
    & span {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
    }
}
.andra {
    display:flex;
    max-width: 1238px;
    margin: 0 auto;
    height: 73px;

    background: #fff;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    
}
#andraa {
    font-size: 15px;
    color: #0797d6;
    text-decoration: none;
}
    #andraa:hover {
        text-decoration: underline;
    }


#paytype {
    margin-left: 13px;
    margin-top: 20px;
    gap: 15px;
    
}
#paytype1{
    
    
    padding-left: 30px;
    & span {
        margin-left: 25px;
    }
}

#paytype2{
    
    
    padding-left: 30px;
    & span {
        margin-left: 28px;
    }
}
#paytype3{
    padding-left: 25px;
    & span {
        margin-left: 20px;
    }
}

.chaticon {
    display: flex;
   & img {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 15px;
    
    
   }
  }
  
  .product-link{
    display: flex;
    color:#000;
    opacity: 90%;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 15px;
    
    &:hover {
        color:#0797d6;
        text-decoration: underline;
    }
    & h3{
        font-weight: 500;
    }

  }
  .price {
    display: flex;
    color: #f00;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    position: absolute;
    bottom: 50px;
  }

  .stars {
    display: flex;
    font-size: 20px;
    position: absolute;
    bottom: 90px;
    
    
  }