:root {
    --whitegray: #f3f3f3;
    --lightblue: rgb(78, 189, 226);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-content: center;
    flex-direction: column;
}

header h1 {
    align-self: center;
    margin-top: 4vh;
}

.main-selector {
    display: flex;
    flex-direction: row;
    border-style: groove;
    align-self: center;
    padding: 10px;
    margin-top: 2vh;
}

.main-selector a {
    appearance: none;
    margin: 0 1vh;
    background: #f3f3f3;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    color: rgb(70, 70, 70);
    
}

.main-homework {
    display: flex;
    width: 120vh;
    height: 70vh;
    margin-top: 40px;
    align-items: center;
    flex-flow: row wrap;
}

.latest-homework, .homework-info {
    width: 50%;
    height: 100%;
    background: var(--whitegray);
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.homework-info p {
    margin-top: 2em;
}

