:root {
    --white: #ffffff;
    --black: #000000;
    --blackOnyx1: #0F0F0F;
    --lightGray10: #f2f2f2;
    --lightGray20: #f3f3f3;
    --lightGray30: #e5e5e5;
    --lightGray40: #cccccc;
    --lightGray50:#C7C7C7;
    --accent__surface--dark: #015582;
    --accent__surface--light: #0096DB;
    --textGrayDark: #444;
    --textGrayMiddle: #666666;
    --textGrayLight: #a2a2a2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--lightGray10);
    position: relative;
}
.header-container {
    width: 100%;
}
.header-top, .header-middle, .header-bottom {
    width: 100%;
}
.header-topblue, .header-middle_content, .header-bottom_content {
    max-width: 1280px;
    /*padding: 0 25px;*/
    margin: 0 auto;
}
.header-top {
    height: 30px;
    background: var(--accent__surface--dark);
}
.header-topblue {
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 100%;
}
.header-leftblue {
    position: absolute;
    left: 5px;
    display: flex;
    flex: 1 0;
    flex-direction: row wrap;
}
.left-lageroppet, .left-kundservice, .right-privat, .right-foretag {
    font-size: 15px;
    margin-top: 5px !important;
    cursor: pointer;
    
}
.left-lageroppet {
    color: var(--textGrayLight);
    border-right: solid var(--textGrayLight) 1px;
    padding-right: 5px;
}
.left-kundservice {
    color: var(--textGrayLight);
    padding-left: 5px;
}
.header-rightblue {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: row wrap;
}
.right-privat {
    color: var(--textGrayLight);
    padding-right: 5px;
}
.right-foretag {
    color: var(--textGrayLight);
    padding-left: 5px;
}
.right-line {
    width: 1px;
    background: var(--textGrayLight);
    margin-top: 5px;
}
.right-privat:hover, .right-foretag:hover {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
.left-lageroppet:hover, .left-kundservice:hover {
    text-decoration: underline;
}
.checker {
    font-weight: bold;
    font-size: 14px;
}
.header-middle {
    height: 85px;
    width: 100%;
    & .header-middle_content {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}
.header-middle_mobile-navigation {
    display: none;
}
.header-middle_logo {
    width: 255px;
    height: 85px;
    /*margin-right: 30px;*/
    /*margin-left: -63px;*/
    position: relative;
    & img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        display: block;
        mix-blend-mode: multiply;
    }
    & a {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}
.header-middle_search {
    min-width: 550px;
    height: 37px;
    border-style: solid;
    margin: 0 25px;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--textGrayLight);
    background: var(--white);
    display: flex;
    flex-direction: row;
    position: relative;
    & input {
        width: 95%;
        height: 100%;
        border-style: solid;
        outline: var(--textGrayLight);
        padding: 10px;
        border-width: 1px;
        border-radius: 10px 0 0 10px;
        border-color: var(--textGrayLight);
        background: var(--white);
        margin: 0;
    }
    & .search_submit {
        width: 6%;
        height: 100%;
        background: var(--accent__surface--light);
        border-radius: 0 10px 10px 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--lightGray10);
    }
}
.header-middle_btns {
    width: 130px;
    /*margin-left: 150px;*/
    display: flex;
    justify-content: end;
}
.middle-btns_general {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 1px;
    margin: 0 15px;
    background: var(--white);
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & i {
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    & p {
        width: 50px;
        font-size: 0.75rem;
    }
    & .cartAmount {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffd700;
        position: absolute;
        top: -10px;
        right: -12px;
        font-size: 0.7rem;
        display: none;
        justify-content: center;
        align-items: center;
    }
}
.header-bottom {
    height: 45px;
    background: var(--white);
    box-shadow: 0 0 1px 0px var(--textGrayLight);
    width: 100%;
}
.header-bottom_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.header-bottom_navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "nav1 nav1 nav1 nav1 none nav2"
    ;

}
.nav1, .nav2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.nav1 {
    grid-area: nav1;
    position: relative;
}
.nav2 {
    grid-area: nav2;
}
.navigation_option {
    font-weight: 600;
    font-size: calc(100% - 2px);
    color: #00496b;
    transition: 0.2s;
    user-select: none;
}
.navigation_option:hover {
    cursor: pointer;
    color: #0797d6;
    transition: 0.2s;
}
.navigationSelect {
    color: #0797d6;
    border-bottom: solid #0797d6 2px;
    padding: 13px 0;
}


@media only screen and (max-width: 1199px) {
    .header-top, .header-bottom {
        display: none;
    }
    .header-middle {
        height: auto;
    }
    .header-middle_content {
        flex-wrap: wrap;
        gap: 5px !important;
    }
    .header-middle_mobile-navigation {
        display: block;
        width: 35px;
        height: 36px;
        background: var(--accent__surface--light);
        position: absolute;
        padding: 5px 0;
        border-radius: 5px;
        border-style: none;
        top: 20px;
        left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        & hr {
            width: 75%;
            height: 3px;
            border-radius: 5px;
            background: var(--white);
        }
    }
    .header-middle_logo {
        max-width: 155px;
        height: 65px;        
        order: 1;
        margin-left: 65px;
        margin-top: 8px;
        & img {
            object-fit: contain;
        }
        & a, img {
            max-width: 155px;
            height: 65px;
        }
    }
    .header-middle_btns {
        order: 2;
        margin-left: 0;
        justify-content: center;
        width: fit-content;
    }
    .header-middle_search {
        min-width: 97%;
        height: 32px;
        order: 3;
        margin: 10px auto;
        & .search_submit {
            width: 60px;
            height: 32px;
        }
        & input {
            height: 32px;
        }
    }
    .header-container {
        box-shadow: 0 0 4px var(--blackOnyx1);
    }
}