:root {
    --white: #ffffff;
    --black: #000000;
    --blackOnyx1: #0F0F0F;
    --lightGray10: #f2f2f2;
    --lightGray20: #f3f3f3;
    --lightGray30: #e5e5e5;
    --lightGray40: #cccccc;
    --lightGray50:#C7C7C7;
    --accent__surface--dark: #015582;
    --accent__surface--light: #0096DB;
    --textGrayDark: #444;
    --textGrayMiddle: #666666;
    --textGrayLight: #a2a2a2;
}



@font-face {
    font-family: "Gorditas", serif;
    src: url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');
}
  

main {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    & .main-container__outer {
        width: 1200px;
        &.main-container__inner {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
    }
}
.big-slider {
    width: 1200px;
    /*height: 375px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*padding-bottom: 40px;
    margin-bottom: 40px;*/
    & .slider-container {
        width: 900px;
    }
}

.row-panels {
    display: flex;
    width: 265px;
    height: 375px;
    gap: 4px;
    flex-direction: column;
    & .panel {
        flex: 1 0 75px;
        height: calc(370/3);
        background: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: "Gorditas", serif;
        font-weight: 700;
        user-select: none;
        cursor: pointer;
    }
}
.puff{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
}
/*.puff--inner{
    display: flex;
    flex-direction: row wrap;
*/
.puff--item{
    flex: 1 0 180px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /*min-width: 280px;*/
    max-width: 200px;
    height: 150px;
    max-height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    & img{
        object-fit:contain ;
        width: 100%;
        max-height: 110px;
    }
    & :hover{
        box-shadow: rgba(99,99,99,0.02) 0px 2px 8px 0px;
    }
   

}
.puff--item tv{
    background:URL('"https://www.netonnet.se/GetFile/SectionBoxIcon/(8885)_14_Normal_Large.webp" ') ;
}
.puff--item a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-decoration: none;
}
/*.puff--item_img img{
     object-fit: contain;
     width: 100%;

}*/
.puff--imgHolder{
    flex: 1 0 120px;
    background:#fff;
    
}

.puff--item_text{
    text-align: center;
    padding: 0.4;
    color: rgb(27, 18, 18);
    font-size: 0.8rem;
    font-weight: bold;
}
 /*css to main carousel-----------------------------------------------------*/
 
 .carousel-content{
    margin: 20px auto;
    padding-top: 25px;
    overflow-y: hidden;
    max-width: 1200px;
    height: auto;
    position: relative;
    width: 100vw;
}

 

 .card-container{
    flex: 1 0 1280px;
    overflow-x: auto;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--white);

   }
   .card{
    position: relative;
    flex: 1 0 280px;
    display: flex;
    flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
    height: 450px;
    margin: 10px;
    padding: 0px;
    line-height: 20px;

    & h3 ,.rating{
        margin: 10px;
        color: var(--textGrayDark);
        text-decoration: none;
    }
     .card-icon{
        display: inline-block;
     width: 150px;
     height: 30px;
     background-color:var(--accent__surface--dark);
     color: var(--white);
     font-size: larger;
     position: absolute;
     top: 3%;
     left:9%;
     padding: 5px;
     text-align: center;
     box-shadow: 5px var(--accent__surface--dark);
     border-radius: 0 4px;
      }
      & li{
        list-style-position: inside;
        color: var(--textGrayDark);
        padding-left:10px;
        text-decoration: none;
      }
}
    
.product-items-img-holder{
    width: clamp(200px 100%, 200px);
    margin: 0 auto;
    position: relative;
    & img{
        object-fit: contain;
        width: 100%;
        height: 200px;
        margin-top: 20px;
    
    }

}


  .checked { 
         color:rgb(232, 158, 22);
       
    }

.button {
   
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 33%;
    color: #000000;
    padding: 14px 9px; 
    font-size: bold;
    width: 10px;
    height: 100px;
    background:var(--accent__surface--light);
    border-color:transparent;
  
    
}
#left{
   left: 0px;
   border-radius: 0px 10px 10px 0px;
}
#right{
   right: 0px;
   border-radius: 10px 0px 0px 10px;
}
    
@media only screen and (max-width: 1199px) {
   
   .main-container__inner {
      width: 100vw;
   }
   .slider-container {
      width: 100vw;
   }
   .big-slider {
      align-items: baseline;
      justify-self: center;
      width: 100vw;
      max-height: 850px;
   }
   .row-panels {
      flex-flow: row nowrap;
      width: 100vw;
      height: 60px;
      padding: 3px;
   }
   
   
   .mySliderContainer {
	   width: 100%; 
   }
	
	.big-slider {
    
    & .slider-container {
        width: 100%;
    }
}

}

