* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    width: 100%;
    height: 600px;
    & a {
        text-decoration: none;
        color: #000;
    } & ul {
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        font-size: 1rem;
    }
    hr {
        display: none;
    }
}
/* Delivery info foot */
.delivery--foot {
    width: 100%;
    height: 15%;
    background: #015582;
}
.inner--delivery__foot {
   max-width: 1280px;
   height: 100%; 
   margin: 0 auto;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-evenly;
   & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    &:hover p {
        text-decoration: underline;
    } 
    & .fa-solid {
        font-size: 1.5rem;
    }
    & p {
        font-size: 1rem;
    }
   }
}
/* General information foot */
.foot--container {
    width: 100%;
    height: 100%;
}
.inner--foot__container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    } & ul {
        list-style-type: none;
        &:has(a:hover)
        a:not(:hover){
            text-decoration: none;
        }
    }
}

.member--card {
    min-width: 300px;
    height: 400px;
    justify-self: start;
}
.inner--member__card {
    width: 100%;
    height: 400px;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    padding: 10px 5px;
}
.klubb--hyllan {
    width: 110px;
    height: 70px;
    margin: 4px 8px;
}
#even--more {
    width: 130px;
    height: 60px;
    font-size: 1.1rem;
    color: rgb(71, 69, 69);
    grid-column-start: 2;
    grid-column-end: 4;
}
#club--benefits {
    width: 200px;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 5;
}
#read--more {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 10px;
    font-size: 1.1rem;
    height: 20px;
}
.inner--member__card button {
    font-size: 1rem;
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    border-radius: 5px;
    margin: 5px;
    padding: 4px 2px;
      /* Klubb hyllan button style */
        &.become--member__btn {
        background: #007AB3;
        color: #f3f3f3;
        border: none;
        cursor: pointer;
    } &.login--btn {
        color: #007AB3;
        background-color: #f3f3f3;
        border: 1px solid #007AB3;
        cursor: pointer;
    }
}
.socials--icons {
    grid-column: 4;
    font-size: 2rem;
    margin-top: 30px;
}
.bottom--foot__container {
    width: 100%;
    height: 80px;
}
.inner--bottom__foot {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    & a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
span{
    & a .fa-solid{
        padding: 10px;
    }
}
#cookies{
    margin-left: auto;
}

.memberInfo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.memberInfo--content {
    background-color: #fff;
    width: 50%;
    max-width: 400px;
    height: 700px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & input {
        margin: 5px;
        height: 30px;
        min-width: 200px;
    }
    & .member {
        padding: 10px 20px;
        background: #007AB3;
        color: #f3f3f3;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    & #checktext {
        font-size: small;
        max-width: 240px;
    }
    & .cbox {
        width: 100%;
        height: 10%;
        & input {
            min-width: 15px;
            height: 15px;
        }
    }
    & p {
        margin: 10px;
        font-size: smaller;
    }
}
@media only screen and (max-width: 1199px) {
    footer {
        height: auto;
    } 
    .delivery--foot,
    .foot--container{
        width: 100vw;
    }
    .inner--delivery__foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .inner--member__card button {
        width: 80%;
        height: 90%;
    }
    .inner--foot__container {
        display: flex;
        gap: 0.6rem;
    }
    li {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    footer {
        height: auto;
        & hr {
         display: block;
         height: 2px;
         width: 100vw;
         background: #000;
     }
    }
    .delivery--foot,
    .foot--container {
        width: 100vw;
        display: flex;
    }
    .inner--delivery__foot {
        flex-direction: column;
    }
    .inner--foot__container {
        flex-flow: column nowrap;
        align-items: baseline;
    }
    a {
        font-size: 0.9rem;
    }
    .inner--bottom__foot {
        flex-flow: row wrap;
        & a {
            font-size: 0.8rem;
        }
        & #cookies {
            font-size: 0.8rem;
        }
    }

}