:root {
    --white: #ffffff;
    --black: #000000;
    --blackOnyx1: #0F0F0F;
    --lightGray10: #f2f2f2;
    --lightGray20: #f3f3f3;
    --lightGray30: #e5e5e5;
    --lightGray40: #cccccc;
    --lightGray50:#C7C7C7;
    --accent__surface--dark: #015582;
    --accent__surface--light: #0096DB;
    --textGrayDark: #444;
    --textGrayMiddle: #666666;
    --textGrayLight: #a2a2a2;
}
body {
    position: relative;
}

@media only screen and (max-width: 1199px) {
    .mobile-navigation {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: translateX(-100%);
    }

    .mobile-navigation__darkoverlay {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        animation: opacityChange1 0.5s;
    }

    .mobile-navigation__inner {
        width: 100%;
        height: 100%;

    }

    .navigation-menu {
        max-width: calc(60vh - 10px);
        height: 100%;
        position: relative;
        padding-right: 50px;
        & .navigation-menu__inner {
            width: 100%;
            height: 100%;
            background: #f5f5f5;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            & .mobile-menu__help {
                display: flex;
                flex-direction: row;
                & .mobile-menu__Kundservice, .mobile-menu__Hittalager {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-height: 65px;
                    width: 50%;
                    border: 0.5px solid var(--lightGray50);
                    gap: 10px;
                }
            }
           & .mobile-navigation__sitetype {
                width: 100%;
                height: 55px;
                border-top: solid var(--lightGray30);
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                & ul {
                    display: flex;
                    flex-direction: row;
                    gap: 7px;
                    & li {
                        list-style: none;
                        & a {
                            font-size: 1rem;
                            font-weight: bold;
                            color: var(--accent__surface--dark);
                            text-decoration: underline;
                        }
                    }
                    & hr {
                        width: 1px;
                        height: 25px;
                    }
                }
           }
        }
        & .navigation-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background: var(--accent__surface--light);
            color: var(--white);
            border: none;
            font-size: 1.5rem;
            text-align: center;
        }

        & .mobile-navigation__functionality {
            width: 100%;
            height: 100%;
            background: #f5f5f5;
            overflow: hidden;
            & .mobile-navigation__options, .mobile-navigation__links {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                position: relative;
                & li {
                    width: 100%;
                    height: 41px;
                    background: var(--white);
                    border: solid var(--lightGray30) 1px;
                    border-left: none;
                    border-right: none;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    & span {
                        font-size: 1.15rem;
                        padding: 12px 0;
                    }
                    & i {
                        margin-right: 5px;
                        font-size: 1.1rem;
                    }
                    & .mobile-navigation__arrow {

                    }
                }
            }
            & .mobile-navigation__links {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                & li {
                    width: 100%;
                    height: 41px;
                    background: transparent;
                    border: solid var(--lightGray30) 1px;
                    border-left: none;
                    border-right: none;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    & a {
                        color: var(--black);
                        text-decoration: none;
                        font-weight: 600;
                        padding: 12px 0;
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-navigation {
        display: none !important;
    }
}

@keyframes opacityChange1 {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityChange2 {
    
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mobileNavMove1 {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes mobileNavMove2 {
    0% {
        transform: translateX(-100%)
    }

    25% {
        transform: translateX(-75%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}