* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.mySliderContainer {
    /*max-width: 900px;*/
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

.mySlider {
    position: relative;
    background: white;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    & img {
        object-fit: contain;
        width:100%;
        height:100%;
    }
}

.mySlides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
    touch-action: pan-y;
}

.prev, .next {
    width: 25px;
    height: 100px;
    cursor: pointer;
    color: rgb(0, 102, 236);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    position: absolute;
    top: 30%;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.placeholder_Dots ul {
    list-style: none;
    bottom: 5px;
    right: 50%;
    position: absolute;
    display: flex;
  }

.placeholder_Dots, .Slider_Dots {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
.placeholder_Dots .Slider_Dots.active {
    background-color: #333;
  }

