:root {
    --darkBlue: rgba(0, 86, 139, 0.51);
    --darkBlueBorder: rgba(0, 73, 119, 0.47);

}

.prototype-window {
    width: 52%;
    height: 64%;
    background: var(--darkBlue);
    backdrop-filter: blur(8.4px);
    border: 1px var(--darkBlueBorder) solid;
    position: absolute;
    top: 70px;
    left: 350px;
    border-radius: 17px;
    padding: 6px 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    z-index: 2;
    & .prototype-window__inner {
        width: calc(100% - 14px);
        height: calc(100% - 47px);
        position: absolute;
        top: 40px;
        left: 7px;
        background: #f3f3f3;
        z-index: 3;
        border-radius: 1px;
        cursor: default;
    }
}

.prototype-window__buttons {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    position: absolute;
    top: 6px;
    right: 7px;
    & .prototype-window__close, .prototype-window__resize, .prototype-window__minimize {
        width: 46px;
        height: 25px;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
    }
    & .prototype-window__close {
        border-radius: 0 11px 11px 0;
        background: rgba(146, 12, 12, 0.616);
        & i {
            font-size: 1.25rem;
            margin: 10px;
            color: #adadad;
            transition: 0.2s;
        }
        &:hover {
            background-color: rgba(245, 41, 41, 0.78);
            /* border: solid rgba(245, 41, 41, 0.01); */
            transition: 0.2s;
            & i {
                color: #f3f3f3;
                transition: 0.2s;
            }
        }
    }
    & .prototype-window__minimize {
        border-radius: 11px 0 0 11px;
        & i {
            margin-bottom: 18px;
        }
    }
    & .prototype-window__resize, .prototype-window__minimize {
        background: #0d2d68;
        & i {
            font-size: 1rem;
            margin: 15px;
            color: #8a8a8a;
            transition: 0.2s;
        }
        &:hover {
            background: rgba(212, 212, 212, 0.603);
            transition: 0.2s;
            & i {
                color: #f3f3f3;
                transition: 0.2s;
            }
        }
    }
}


